.text-primary {
  color: #112131; }

.text-primary {
  color: #112131; }

.text-secondary {
  color: #2e4052; }

.text-green {
  color: #5d9d2e; }

.text-white {
  color: #ffffff; }

.text-grey {
  color: #9a9797; }

.text-dark {
  color: #333232; }

html, body {
  height: 100%; }

body {
  background: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #333232;
  font-size: 1em; }
  @media (min-width: 1440px) {
    body {
      font-size: 1.2em; } }

.row {
  position: relative;
  height: 100%; }

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 2em; }

h3 {
  margin: 0; }

.no-margins {
  margin: 0; }

.inline-list {
  padding: 0;
  list-style-type: none; }
  .inline-list li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 5px; }

.clean-list {
  padding: 0;
  list-style-type: none; }

.container-fluid {
  height: 100%; }

header#top-nav {
  background-color: #112131;
  padding: 15px;
  color: #ffffff;
  height: 60px;
  font-size: 1.3em;
  position: relative;
  z-index: 2; }
  header#top-nav img#logo {
    float: left;
    margin-right: 25px; }
  header#top-nav h1#logo-text {
    margin: 5px 0;
    display: none;
    font-size: 1.3em; }
    @media (min-width: 768px) {
      header#top-nav h1#logo-text {
        display: inline-block; } }
  header#top-nav #hamburger {
    display: inline-block;
    margin-right: 15px; }
    header#top-nav #hamburger:hover, header#top-nav #hamburger:focus {
      color: #ffffff; }
    @media (min-width: 768px) {
      header#top-nav #hamburger {
        display: none; } }
  header#top-nav .status-dropdown-btn {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer; }
  header#top-nav .time {
    display: none;
    margin-left: 30px; }
    @media (min-width: 768px) {
      header#top-nav .time {
        display: inline-block; } }

nav#left-nav {
  display: none;
  background-color: #2e4052;
  color: #ffffff;
  bottom: unset;
  z-index: 1;
  width: 100%;
  font-size: 1.2em;
  position: absolute; }
  @media (min-width: 768px) {
    nav#left-nav {
      display: block !important;
      width: 100px;
      position: fixed;
      top: 0;
      padding-top: 60px;
      bottom: 0; } }
  nav#left-nav li {
    text-align: center; }
    nav#left-nav li.active a {
      background-color: #253342; }
      nav#left-nav li.active a:hover {
        background-color: #202d39; }
    nav#left-nav li a {
      text-decoration: none;
      color: #ffffff;
      display: block;
      padding: 15px 10px;
      background-color: #2e4052;
      transition: background-color .3s; }
      nav#left-nav li a:hover {
        background-color: #293a4a; }
      nav#left-nav li a span {
        display: block;
        margin-top: 10px; }

main {
  margin: 0;
  padding: 40px 0 0;
  overflow: hidden;
  width: 100%;
  font-size: 1em; }
  @media (min-width: 768px) {
    main {
      padding: 40px 25px 0;
      margin: 0 120px 0 100px;
      width: unset; } }
  main #pending-orders {
    margin-bottom: 20px;
    overflow: hidden; }
  main #progress-filter {
    cursor: pointer; }
  main h3 {
    font-size: 1.8em; }
  main .section-header {
    margin-bottom: 20px; }
    main .section-header h3 {
      float: left; }
    main .section-header .header-tools {
      float: right; }
      main .section-header .header-tools a {
        text-transform: uppercase;
        color: #333232;
        font-size: 1.1em;
        transition: color 0.2s; }
        main .section-header .header-tools a:hover {
          color: #676464; }
  @media (min-width: 500px) and (max-width: 768px) {
    main .order-list .order-container {
      width: 50%;
      float: left; } }
  @media (max-width: 499px) {
    main .order-list .order-container {
      padding: 0; } }
  @media (min-width: 1440px) {
    main .order-list .order-container {
      width: 20%; } }
  main .order-list .order-item {
    margin-top: 15px;
    padding: 15px 25px 66px 25px;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 20px; }
    main .order-list .order-item > small {
      font-size: 1.2em; }
    @media (min-width: 500px) and (max-width: 768px) {
      main .order-list .order-item {
        min-height: 280px; } }
    @media (min-width: 768px) {
      main .order-list .order-item {
        min-height: 280px;
        height: 280px;
        padding: 15px 25px 0 25px; } }
    @media (min-width: 1440px) {
      main .order-list .order-item {
        min-height: 310px;
        height: 310px; } }
    main .order-list .order-item .badge {
      border-radius: 0;
      padding: 10px 10px 8px 10px;
      position: absolute;
      top: -15px;
      left: 15px;
      font-weight: 400; }
      @media (min-width: 500px) {
        main .order-list .order-item .badge {
          left: 0; } }
      main .order-list .order-item .badge.badge-blue {
        background-color: #249cae; }
      main .order-list .order-item .badge.badge-ash {
        background-color: #566a7f; }
      main .order-list .order-item .badge.badge-orange {
        background-color: #e89005; }
      main .order-list .order-item .badge.badge-berry {
        background-color: #ae2452; }
    main .order-list .order-item .see-more {
      color: #333232;
      cursor: pointer; }
    main .order-list .order-item .map-container {
      padding: 15px 0;
      margin-left: -15px;
      margin-right: -15px; }
    main .order-list .order-item .order-receipt .receipt-item {
      padding: 20px;
      border-bottom: 1px solid #f5f5f5;
      text-transform: uppercase;
      overflow: hidden;
      font-size: 1.3em; }
      @media (min-width: 1440px) {
        main .order-list .order-item .order-receipt .receipt-item {
          font-size: 1.5em; } }
      main .order-list .order-item .order-receipt .receipt-item:last-of-type {
        border-bottom: none; }
      main .order-list .order-item .order-receipt .receipt-item p {
        float: left;
        width: 60%; }
        main .order-list .order-item .order-receipt .receipt-item p small {
          text-transform: lowercase;
          color: #807e7e;
          display: block; }
      main .order-list .order-item .order-receipt .receipt-item .price {
        width: 100px;
        width: 40%;
        text-align: right; }
    main .order-list .order-item .item-list > li {
      text-transform: uppercase;
      font-size: 1.4em;
      margin-bottom: 10px; }
      main .order-list .order-item .item-list > li .item-count {
        display: inline-block;
        min-width: 14px;
        margin-right: 3px; }
    main .order-list .order-item .item-list .sub-list {
      padding-left: 23px; }
      main .order-list .order-item .item-list .sub-list li {
        text-transform: lowercase;
        color: #807e7e;
        font-size: .9em; }
    main .order-list .order-item .options {
      overflow: hidden;
      margin-top: 20px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.3em; }
      main .order-list .order-item .options a {
        display: block;
        padding: 10px 5px;
        transition: background-color 0.5s; }
        main .order-list .order-item .options a:hover {
          text-decoration: none; }
        main .order-list .order-item .options a.btn-accept {
          background-color: #5d9d2e;
          color: #ffffff;
          width: 50%;
          float: left; }
          main .order-list .order-item .options a.btn-accept:hover {
            background-color: #518928; }
        main .order-list .order-item .options a.btn-decline {
          background-color: #e3e3e3;
          color: #333232;
          width: 50%;
          float: left; }
          main .order-list .order-item .options a.btn-decline:hover {
            background-color: #d6d6d6; }
      main .order-list .order-item .options.process-options {
        border-top: 1px solid #e3e3e3; }
        main .order-list .order-item .options.process-options a {
          width: 33%;
          float: left;
          transition: color 0.3s; }
          main .order-list .order-item .options.process-options a:hover {
            color: #9a9797; }

aside#metrics {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  background-color: #e8ecf1;
  color: #566a7f;
  text-align: center;
  padding: 60px 20px 40px;
  font-size: 1.2em; }
  aside#metrics .metric-item {
    margin: 30px 0; }
    aside#metrics .metric-item h2 {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 3em;
      margin-top: 0; }
    aside#metrics .metric-item label {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      margin-top: 10px;
      font-family: 1em; }
  @media (min-width: 768px) {
    aside#metrics {
      display: block; } }
